@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: #0a0a0a;
  background-image: url("/bg-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  body {
    background-image: url("/bg-tablet.jpg");
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url("/bg-desktop.jpg");
  }
}

h1,
h2,
h3 {
  font-family: var(--font-cinzel);
}

/* globals.css */
html,
body {
  height: 100%;
}

@font-face {
  font-family: "dmc";
  src: url("/dmc.otf") format("opentype");
}

/* rank colors */
.rank-sss {
  text-shadow:
    0 0 10px rgba(255, 215, 0, 0.9),
    0 0 30px rgba(255, 215, 0, 0.6),
    0 0 60px rgba(255, 215, 0, 0.4);
  -webkit-text-stroke: 1px rgba(255, 215, 0, 0.8);
  color: #ffd700 !important;
}

.rank-s {
  text-shadow:
    0 0 10px rgba(255, 255, 0, 0.9),
    0 0 30px rgba(255, 255, 0, 0.6),
    0 0 60px rgba(255, 255, 0, 0.4);
  -webkit-text-stroke: 1px rgba(255, 255, 0, 0.8);
  color: #ffff00 !important;
}

.rank-a {
  text-shadow:
    0 0 10px rgba(255, 140, 0, 0.9),
    0 0 30px rgba(255, 140, 0, 0.6),
    0 0 60px rgba(255, 140, 0, 0.4);
  -webkit-text-stroke: 1px rgba(255, 140, 0, 0.8);
  color: #ff8c00 !important;
}

.rank-b {
  text-shadow:
    0 0 10px rgba(255, 50, 50, 0.9),
    0 0 30px rgba(255, 50, 50, 0.6),
    0 0 60px rgba(255, 50, 50, 0.4);
  -webkit-text-stroke: 1px rgba(255, 50, 50, 0.8);
  color: #ff3232 !important;
}

.rank-c {
  text-shadow:
    0 0 10px rgba(50, 205, 50, 0.9),
    0 0 30px rgba(50, 205, 50, 0.6),
    0 0 60px rgba(50, 205, 50, 0.4);
  -webkit-text-stroke: 1px rgba(50, 205, 50, 0.8);
  color: #32cd32 !important;
}

.rank-d {
  text-shadow:
    0 0 10px rgba(50, 150, 255, 0.9),
    0 0 30px rgba(50, 150, 255, 0.6),
    0 0 60px rgba(50, 150, 255, 0.4);
  -webkit-text-stroke: 1px rgba(50, 150, 255, 0.8);
  color: #3296ff !important;
}
